dl/qt/qt-everywhere-opensource-src-4.8.7.tar.gz filter=lfs diff=lfs merge=lfs -text
toolchain/riscv64-linux-musl64-x86_64-v2.6.1.tar.gz filter=lfs diff=lfs merge=lfs -text
toolchain/riscv64-linux-x86_64-20210512.tar.gz filter=lfs diff=lfs merge=lfs -text
toolchain/riscv64-linux-glibc-x86_64-V2.10.1.tar.gz filter=lfs diff=lfs merge=lfs -text
