# SPDX-License-Identifier: GPL-2.0-or-later

config NET_ARTINCHIP_MAC
        tristate "ArtInChip Gigabit Ethernet driver"
        depends on HAS_IOMEM && HAS_DMA
        select MII
        select PAGE_POOL
        select PHYLINK
        select CRC32
        imply PTP_1588_CLOCK
        select RESET_CONTROLLER
        help
          This is the driver for the ArtInChip Ethernet,
          it supports MAC and GMAC both, it has two DMA,
          it supports ring and chain, it supports normal
          descriptor and enhanced descriptor.
