# SPDX-License-Identifier: GPL-2.0-only

menuconfig SPL_CLK_ARTINCHIP
	bool "SPL clock support for ArtInChip SoCs"
	depends on ARCH_ARTINCHIP && SPL
	select SPL_CLK
	help
	  This enables SPL DM/DTS support for clock driver in ArtInChip platforms.

if SPL_CLK_ARTINCHIP

config SPL_CLK_ARTINCHIP_CMU
	bool "SPL clock driver for aic-cmu"
	default n
	help
	  SPL clock driver for aic-cmu

endif

menuconfig CLK_ARTINCHIP
	bool "Clock support for ArtInChip SoCs"
	depends on ARCH_ARTINCHIP
	select CLK
	default y

if CLK_ARTINCHIP

config CLK_ARTINCHIP_CMU
	bool "Clock driver for aic-cmu"
	default n
	help
	  Clock driver for aic-cmu

config CLK_ARTINCHIP_V0_1
	bool
	default y
	depends on ARM

config CLK_ARTINCHIP_V1
	bool
	default y
	depends on RISCV

endif

config CLK_ARTINCHIP_PLL_SDM
	bool "Enable ArtInChip PLL spread spectrum"
	depends on SPL_CLK_ARTINCHIP_CMU || CLK_ARTINCHIP_CMU
	default y

