# SPDX-License-Identifier: GPL-2.0-only

menuconfig SPL_CLK_ARTINCHIP
	bool "SPL clock support for ArtInChip SoCs"
	depends on ARCH_ARTINCHIP && SPL
	select SPL_CLK
	help
	  This enables SPL DM/DTS support for clock driver in ArtInChip platforms.

if SPL_CLK_ARTINCHIP
	choice
		prompt "Select SPL clock driver"
		default SPL_CLK_ARTINCHIP_CMU_V1_0
		config SPL_CLK_ARTINCHIP_CMU_V1_0
			bool "aic-cmu-v1.0"
			help
			SPL clock driver for aic-cmu-v1.0

		config SPL_CLK_ARTINCHIP_CMU_V1_3
			bool "aic-cmu-v1.3"
			help
			SPL clock driver for aic-cmu-v1.3
	endchoice
endif

menuconfig CLK_ARTINCHIP
	bool "Clock support for ArtInChip SoCs"
	depends on ARCH_ARTINCHIP
	select CLK
	default y

if CLK_ARTINCHIP
	choice
		prompt "Select clock driver"
		default CLK_ARTINCHIP_CMU_V1_0
		config CLK_ARTINCHIP_CMU_V1_0
			bool "aic-cmu-v1.0"
			help
			SPL clock driver for aic-cmu

		config CLK_ARTINCHIP_CMU_V1_3
			bool "aic-cmu-v1.3"
			help
			SPL clock driver for aic-cmu
	endchoice

config CLK_ARTINCHIP_V0_1
	bool
	default y
	depends on ARM && CLK_ARTINCHIP_V1_0

endif

config CLK_ARTINCHIP_PLL_SDM
	bool "Enable ArtInChip PLL spread spectrum"
	depends on SPL_CLK_ARTINCHIP_CMU || CLK_ARTINCHIP_CMU
	default y

