CONFIG_RISCV=y
CONFIG_SYS_TEXT_BASE=0x40004000
CONFIG_SPL_GPIO=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_OFFSET=0x280000
CONFIG_DM_GPIO=y
CONFIG_SPL_DM_SPI=y
CONFIG_DEFAULT_DEVICE_TREE="artinchip-board"
CONFIG_SPL_TEXT_BASE=0x42000100
CONFIG_SPL_STACK_R_ADDR=0x43F00000
CONFIG_SPL_SYS_MALLOC_F_LEN=0x4000
CONFIG_SPL_SIZE_LIMIT=0x20000
CONFIG_SPL=y
CONFIG_IDENT_STRING="d211"
CONFIG_SPL_SPI_SUPPORT=y
CONFIG_BUILD_TARGET=""
CONFIG_ARCH_RISCV_ARTINCHIP=y
CONFIG_SPL_OPENSBI_LOAD_ADDR=0x43FE0000
CONFIG_CPU_C906=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
# CONFIG_SPL_SMP is not set
CONFIG_AUTO_CALCULATE_PART_CONFIG=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0x41100000
CONFIG_SUPPORT_RAW_INITRD=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_BOOTDELAY=3
CONFIG_LOGLEVEL=7
CONFIG_SPL_LOGLEVEL=3
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=7
CONFIG_LOG_DEFAULT_LEVEL=5
CONFIG_EVENT=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_UPDATE_SD_FATFS_ARTINCHIP=y
CONFIG_UPDATE_UDISK_FATFS_ARTINCHIP=y
CONFIG_SPL_BOARD_INIT=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_SPL_STACK_R=y
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x1C00000
CONFIG_SPL_SEPARATE_BSS=y
CONFIG_SPL_FIT_IMAGE_TINY=y
CONFIG_SPL_CPU=y
CONFIG_SPL_DMA=y
CONFIG_SPL_MMC_TINY=y
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_SPL_SPI_NAND_TINY=y
CONFIG_SPL_OS_BOOT=y
CONFIG_SYS_SPL_NAND_OFS=0x300000
CONFIG_SYS_NAND_SPL_KERNEL_OFFS=0x400000
CONFIG_SPL_DM_RESET=y
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_SPL_OPENSBI_SIZE=0x20000
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="U-Boot> "
CONFIG_CMD_SPL=y
CONFIG_CMD_SPL_WRITE_SIZE=0x40000
CONFIG_CRC32_VERIFY=y
CONFIG_CMD_GPT=y
CONFIG_CMD_GPT_RENAME=y
CONFIG_CMD_MMC=y
CONFIG_CMD_MTD=y
CONFIG_CMD_PART=y
# CONFIG_CMD_PINMUX is not set
CONFIG_CMD_SPI=y
CONFIG_CMD_USB=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_CMD_WDT=y
CONFIG_CMD_SETEXPR_FMT=y
# CONFIG_CMD_NET is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="spi-nand0=spi1.0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi1.0:1m(spl),1m(uboot),128k(env),128k(envbak),12m(ubiboot),-(ubisystem)"
CONFIG_CMD_UBI=y
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_OF_SPL_REMOVE_PROPS=""
CONFIG_ENV_IS_IN_RAM=y
CONFIG_ENV_IS_IN_SPINAND=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_ENV_FAT_DEVICE_AND_PART="0"
CONFIG_ENV_OFFSET_REDUND=0x2C0000
# CONFIG_AICUPG_MMC_ARTINCHIP is not set
CONFIG_AICUPG_SINGLE_TRANS_BURN_CRC32_VERIFY=y
CONFIG_SPL_CLK_ARTINCHIP=y
CONFIG_DMA=y
CONFIG_DMA_CHANNELS=y
CONFIG_ARTINCHIP_DMA=y
CONFIG_MISC=y
CONFIG_MMC=y
CONFIG_MMC_ARTINCHIP=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_NAND_BBT_MANAGE=y
CONFIG_NAND_BBT_OFFSET=0x240000
CONFIG_SYS_SPI_NAND_U_BOOT_LOCATIONS=y
CONFIG_SPI_NAND_WINBOND=y
CONFIG_SPI_NAND_GIGADEVICE=y
CONFIG_SPI_NAND_FMSH=y
CONFIG_SPI_NAND_FORESEE=y
CONFIG_SPI_NAND_ZBIT=y
# CONFIG_DM_SPI_FLASH is not set
CONFIG_PHYLIB=y
CONFIG_PHY_SMSC=y
CONFIG_MII=y
CONFIG_PINCTRL=y
CONFIG_SPL_PINCTRL=y
CONFIG_PINCTRL_ARTINCHIP=y
CONFIG_SPL_PINCTRL_ARTINCHIP=y
CONFIG_DM_PWM=y
CONFIG_PWM_ARTINCHIP=y
CONFIG_RAM=y
CONFIG_SPL_RAM=y
CONFIG_DM_RESET=y
CONFIG_RESET_ARTINCHIP=y
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_CONS_INDEX=0
CONFIG_SYS_NS16550=y
CONFIG_ARTINCHIP_SERIAL=y
CONFIG_SPI=y
CONFIG_ARTINCHIP_SPI=y
CONFIG_USB=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="ArtInChip"
CONFIG_USB_GADGET_VENDOR_NUM=0x33C3
CONFIG_USB_GADGET_PRODUCT_NUM=0x6677
CONFIG_USB_GADGET_AIC=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_FUNCTION_AICUPGUSB_ARTINCHIP=y
CONFIG_DM_VIDEO=y
# CONFIG_CMD_VIDCONSOLE is not set
# CONFIG_VIDEO_ANSI is not set
# CONFIG_CONSOLE_NORMAL is not set
# CONFIG_SIMPLE_PANEL is not set
CONFIG_DISPLAY=y
CONFIG_ARTINCHIP_GRAPHICS=y
CONFIG_VIDEO_ARTINCHIP=y
CONFIG_JPEG_LOGO_IMAGE=y
CONFIG_AIC_DISP_RGB=y
CONFIG_AIC_PANE_RGB_GENERAL=y
# CONFIG_WATCHDOG is not set
# CONFIG_WATCHDOG_AUTOSTART is not set
CONFIG_WDT=y
CONFIG_WDT_ARTINCHIP=y
CONFIG_WDT_ARTINCHIP_V1_0=y
CONFIG_FS_EXT4=y
CONFIG_EXT4_WRITE=y
CONFIG_XZ=y
CONFIG_HEXDUMP=y
# CONFIG_EFI_LOADER is not set
# CONFIG_TOOLS_LIBCRYPTO is not set
