{
	"video_in_file":"/mnt/mjpeg_encoder/test.yuv",
	"audio_in_file":"/mnt/mjpeg_encoder/test.pcm",
	"output_file":"/mnt/mjpeg_encoder/test",
	"file_duration":40,
	"file_num":0,
	"file_muxer_type":0,
	"qfactor":80,
	"video":
	{
	 "enable":1,
	 "codec_type":4097,
	 "out_width":320,
	 "out_height":240,
	 "out_framerate":25,
	 "out_bitrate":1300,
	 "in_width":320,
	 "in_height":240,
	 "in_pix_format":32
	},
	"audio":
	{
	"enable":0,
	"codec_type":1,
	"out_bitrate":128000,
	"out_samplerate":48000,
	"out_channels":2,
	"out_bits_per_sample":16,
	"in_samplerate":48000,
	"in_channels":2,
	"in_bits_per_sample":16
	}
}
